<% @posts.each do |post| %>
<div class="box">
  <article class="media">
    <figure class="media-left">
      <%= gravatar_image_tag("test", size: 64, alt: "test") %>
    </figure>
    <div class="media-content">
      <p class="subtitle is-5"><%= link_to post.title, post %></p>
      <p class="subtitle is-6">Author: Anonymous</p>
    </div>
  </article>
  <br/>
  <div>
    <% body, long = post.trunc_post_body %>
        <%= body %>
      <% if long %>
        ... <i><strong><%= link_to "read more", post %></strong></i>
      <% end %>
  </div>
</div>
<% end %>